.container-fluid {
  background-color: white;
  border: 1px solid #508dce;
  padding: 10px;
  margin: 10px;
  margin-right: 800px;
  margin-left: -100px;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
}


  .titulo {
    text-align: center;
    font-weight: bold;
  }

  .btn-primary {
    background-color: #508dce;
    color: white;
    border: 1px solid #508dce;
    border-radius: 0; /* Hace que el botón sea cuadrado */
  }

  .form-check-input:checked {
    background-color: #508dce;
    border-color: #508dce;
  }

  .form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(80, 141, 206, 0.25);
  }

  @media screen and (max-width: 700px) {
    .container-fluid { 
        margin-right: 100px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 100px; /* Modificado */
    } 
}
