

.lema {
  /* Ajustes en la alineación del texto */
  text-align: center;  /* Cambiado a centrar */
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.imagen-principal {
  font-size: large;
  text-align: center;  /* Centrar la imagen */
  margin-top: 250px;  /* Agregado margen inferior */
}

/* regla para separar los elementos */
.texto {
  margin-top: 20px;
}
