.container-fluid{
    font-family: Montserrat, sans-serif;
    margin-right: 400px;
    margin-left: -100px;
    font-size: 20px ;
 
}

.titulo {
    text-align: center;
    font-weight: bold;
  
}

.label-input {
    font-weight: bold;
    color: #508cde;
}

.form {
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;

}

.border-primary {
    border-color: #508cde !important;
}

.boton-lista {
    background-color: #508cde;
    color: #fff;
}

.boton-lista:hover {
    background-color: #5077b6;
}

#mensaje {
    background: #508cde;
}

.btn-primary {
    border-color: #5077b6;
}

.border {
    border-color: #508cde !important;
}

.h6 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.buscar{
margin-top: 20px ;}

@media screen and (max-width: 700px) {
    .container-fluid { 
        font-size: 1x;
        margin-right: -500px;
        margin-left: -10px;
        margin-bottom: 0px;
        margin-top: 100px; /* Modificado */
    } 
}
