.container-fluid{
    z-index: 2;
    font-family: Montserrat, sans-serif;
    margin-right: 800px;
    margin-left: -100px;
    margin-bottom: 150px;  
}

.titulo {
    text-align: center;
    font-weight: bold;
  
}

.label-input {
    font-weight: bold;
    color: #508cde;
}

h6 {
    text-align: left;
    font-weight: bold;
    margin-top: -10px;
    font-size: 20px;

}

.border-primary {
    border-color: #508cde !important;
}

.boton-lista {
    background-color: #508cde;
    color: #fff;
}

.boton-lista:hover {
    background-color: #5077b6;
}

.form-control {
    border-color: #508cde;
}

.form-control:focus {
    border-color: #5077b6;
}

.guia {
    text-align:right;
    font-weight: bold;
    margin-right: 100px;
    font-size: 30px;
  
}

@media screen and (max-width: 700px) {
    .container-fluid {
        z-index: 2;
        font-family: Montserrat, sans-serif;
        margin-right: 20px; 
        margin-left: -10px; 
        margin-bottom: 20px; 
    } 
 .btn-secondary{
margin-bottom: 15px;}

}
