<div class="container-fluid">
    <h2 class="titulo">Registro de Empleados</h2>

    <form>
        <div class="row mt-1">
            <div class="col-md-6 mb-3">
                <label class="label-input" for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label class="label-input" for="apellido">Apellido:</label>
                <input type="text" id="apellido" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 mb-3">
                <label class="label-input" for="cedula">Cédula:</label>
                <input type="text" id="cedula" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label class="label-input" for="telefono">Teléfono:</label>
                <input type="text" id="telefono" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-4 mb-3">
                <label class="label-input" for="sede">Sede:</label>
                <select id="sede" class="form-control">
                    <option value="sedePrincipal">Sede Principal</option>
                    <option value="sedeNorte">Sede Norte</option>
                    <option value="sedeSur">Sede Sur</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label class="label-input" for="puesto">Puesto:</label>
                <select id="puesto" class="form-control">
                    <option value="transporte">Transporte</option>
                    <option value="bodega">Bodega</option>
                    <option value="administrativo">Administrativo</option>
                    <option value="recepcion">Recepción</option>
                    <option value="contaduria">Contaduría</option>
                    <option value="juridica">Jurídica</option>
                    <option value="otro">Otro</option>
                </select>
            </div>

            <div class="col-md-4 mb-3">
                <label class="label-input" for="salario">Salario:</label>
                <input type="number" id="salario" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-4 mb-3">
                <label class="label-input" for="fechaAfiliacion">Fecha de Afiliación:</label>
                <input type="date" id="fechaAfiliacion" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="label-input" for="registroEPS">Registro EPS:</label>
                <input type="text" id="registroEPS" class="form-control">
            </div>

            <div class="col-md-4 mb-3">
                <label class="label-input" for="registroARL">Registro ARL:</label>
                <input type="text" id="registroARL" class="form-control">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 mb-3">
                <label class="label-input" for="registroPension">Registro Fondo de Pensiones:</label>
                <input type="text" id="registroPension" class="form-control">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary boton-registrar">Registrar</button>
            </div>
        </div>
    </form>
</div>
